/* selected tag{
    property:value;
} */

#top{
     font-family: 'AghjaMedium';
     font-weight: bolder;
     font-style: italic;
     color: red;
     text-align: center;
}
/* class for table */
.pallete{
  margin: auto;
}


/* table data  */
td{
  height: 200px;
  width: 90px;
  padding: 10px;
}

/* background colors assigned in hex format */
#c1{
  background-color: #f4f1de;

}
#c2{
  background-color: #e07a5f;

}
#c3{
  background-color: #3d405b;

}
#c4{
  background-color: #81b29a;

}
#c5{
  background-color: #f2cc8f;

}
