/* selected TAg{

  property:value;

} */
body{
  padding-top: 10px;
  padding-bottom: 10px;
  border: 15px;
  border-style: double;
}
#top{
border:2px solid blue;
text-align: center;
width: 25%;
margin: auto;
padding-bottom: 20px;
}

h2{
  padding-top: 10px;

border: 3px dashed red;
text-align: center;
width: 50%;
margin: auto;
}
.boxModel{

  border: 2px solid green;
  /* padding-left: 20px */
width: 75%;
margin: auto;
}
ul{
border: 2px dashed purple;
margin-left:70px;
margin-right: 70px;
text-align:inherit;
padding-top: 20px;
  padding-left: 200px;
  padding-bottom: 20px;
}
